
ul > li > a{
	background-color: white;
	border-right: .1em solid;
	font-size: 1.5em;
	height:2em;
	text-align: center;
	width: 6em;
}

deck-row{
    margin: 0 auto;
}

.contain-fix{
    margin: 0 auto;
    padding: 0;
}

.contain-space{
    margin-top: 2em;
}

.navbar-brand{
	font-size: 2em;
	font-weight: 600;
}


